<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/javascripts/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>
        <div class="container-fluid">
            <header class="text-center  text-bg-dark py-2 rounded">
                <h1>Book Details</h1>
            </header>
        </div>

        <section class="container d-flex align-items-center justify-content-center border border-dark py-3 mt-3">
            <form action="/insertData" method="post" class="row">

                <div class="col-md-6 mb-2">
                    <label for="" class="mb-1">Title</label>
                    <input type="text" name="title" class="form-control">
                </div>

                <div class="col-md-6 mb-2">
                    <label for="" class="mb-1">Author</label>
                    <input type="text" name="author" class="form-control">
                </div>


                <div class="col-md-6 mb-2">
                    <label for="" class="mb-1">Price</label>
                    <input type="text" name="price" class="form-control">
                </div>

                <div class="col-md-6 mb-2">
                    <label for="" class="mb-1">City</label>
                    <select name="city" class="form-select" selected>
                        <option value="select">--Select--</option>
                        <option value="surat">Surat</option>
                        <option value="baroda">Baroda</option>
                        <option value="vapi">Vapi</option>
                    </select>
                </div>


                <div class="col-12 mb-2">
                    <label for="" class="mb-1">Discription</label>
                    <textarea name="address" id="" class="form-control"></textarea>
                </div>


                <div class="col-4 mb-2 language">
                    <label for="">Languages:</label>
                    <input type="checkbox" name="language" value="hindi" class="form-check-input">Hindi
                    <input type="checkbox" name="language" value="english" class="form-check-input">English
                    <input type="checkbox" name="language" value="gujarati" class="form-check-input">Gujarati
                </div>

                <div class="col-md-4 mb-2 pages">
                    <label for="">Pages:</label>
                    <input type="radio" class="form-check-input" name="page" value="001-150">001-150
                    <input type="radio" class="form-check-input" name="page" value="001-250">001-250
                    <input type="radio" class="form-check-input" name="page" value="001-300">001-300
                </div>

                <div class="col-md-4 mb-2">
                    <label for="" class="mb-1">ISBN Number</label>
                    <input type="text" name="isbn" class="form-control">
                </div>

                <div class="col-12 mb-2 text-center">
                    <input type="submit" value="Add Task" class="btn btn-danger">
                </div>
            </form>
        </section>


        <section class="container mt-4 table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>City</th>
                    <th>Discription</th>
                    <th>Language</th>
                    <th>Pages</th>
                    <th>ISBN</th>
                    <th>Action</th>
                </thead>

                <% data.map((val)=>{ %>
                    <tr>
                        <td>
                            <%= val.title %>
                        </td>
                        <td>
                            <%= val.author %>
                        </td>
                        <td>
                            <%= val.price %>
                        </td>
                        <td>
                            <%= val.city %>
                        </td>
                        <td>
                            <%= val.address %>
                        </td>
                        <td>
                            <%= val.language %>
                        </td>
                        <td>
                            <%= val.page %>
                        </td>
                        <td>
                            <%= val.isbn %>
                        </td>
                        <td>
                            <a href="/deleteData/<%= val.id %>">Delete</a>
                            <a href="/editData/<%= val.id %>">Edit</a>
                        </td>
                    </tr>
                    <% }) %>
            </table>
        </section>
</body>

</html>